<head>
  <title>NeoBank Dashboard</title>
  {% include 'head.html'%}
</head>

<header>{% include 'navbar.html' %}</header>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <h2>Bienvenido, {{ client.name }}!</h2>
      <p>
        Este es su panel de control personalizado donde puede gestionar su
        cuenta NeoBank NeoBank..
      </p>
      <hr />
      <h4>Tus Cuentas!</h4>
      {% comment %} {% for account in client.accounts.all %}
      <div class="account-item">
        <h5>{{ account.get_account_type_display }}</h5>
        <p>Account Number: {{ account.number }}</p>
        <p>Balance: ${{ account.balance }}</p>
      </div>
      {% endfor %} {% endcomment %}
    </div>
    <div class="col-md-6">
      <h3>Agregar Nueva Cuenta</h3>
      <form method="POST" action="add_account">
        {% csrf_token %}
        <div class="form-group">
          <label for="accountType">Tipo de Cuenta</label>
          <select
            class="form-control"
            id="accountType"
            name="account_type"
            required
          >
            <option value="current">Cuenta Corriente</option>
            <option value="saving">Cuenta Ahorros</option>
          </select>
        </div>
        <div class="form-group">
          <label for="balance">Deposito Inicial</label>
          <input
            type="number"
            class="form-control"
            id="balance"
            name="balance"
            required
            min="100"
          />
        </div>

        <button type="submit" class="btn btn-primary">Agregar Cuenta</button>
      </form>
    </div>
  </div>
</div>
{% include 'footer.html' %}
