
<head>
    <title>NeoBank Dashboard</title>
    {% include 'head.html'%}
</head>

<header>
    {% include 'navbar.html' %}
</header>

<div class="row">
    <div class="col-md-6">
      <h1></h1>
      <h2>Hola {{client.name}}</h2>      
      <p>
        This is your personalized dashboard where you can manage your NeoBank
        account.
      </p>
    </div>
    <div class="col-md-6">
      <h1>Dashboard Image</h1>
      <h2>Coming Soon</h2>
    </div>
  </div>
</div>

{% include 'footer.html' %}

