<div id="withdrawForm" style="display: none">
  <h3>Retirar Dinero</h3>
  <form method="POST" action="">
    {% csrf_token %}
    <div class="form-group">
      <label for="withdrawAmount">Cantidad a Retirar</label>
      <input
        type="number"
        class="form-control"
        id="withdrawAmount"
        name="amount"
        required
        min="1"
      />
    </div>
    <button type="submit" class="btn btn-success">Confirmar Retiro</button>
    <button type="button" class="btn btn-dark" onclick="hideWithdrawForm()">
      Cancelar
    </button>
  </form>
</div>
