.container-fluid,
.navbar-brand,
.nav-link {
    outline: none;
    color: #fff;
}

.active {
    opacity: 0.5;
}


a.navbar-brand:hover,
a:hover,
a.nav-link:hover {
    outline: none;
    color: #7c7575;
}


.animate__animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animate__fadeIn {
    animation-name: fadeIn;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.animated-gif {
    animation: fadeIn 1s;
}